.button-div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem;
}

.button {
	background-color: transparent;
	display: inline-block;
	outline: none;
	border: none;
	transition: transform .1s linear, background-color .1s;
	cursor: pointer;
	color: $color-main;
	margin: 2rem auto;
	padding: 1rem 2rem;
	border: 1px solid white;
}

.button:hover {
  color: $color-main;
  background-color: $color-accent;
  transform: scale(1.05);
  transition: transform .5s;
}
.button:active {
	transform: scale(.95)
}
a, a:visited {
	color: $color-main;
}
a:hover {
	color: $color-accent;
}
.link {
	font-size: 1.4rem;
	text-decoration: none;
	color: $color-main;
}

.link:visited {
	color: $color-main;
}

select {
	outline: none;
	border: 1px solid ghostwhite;
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	color: ghostwhite;
	background-color: transparent;
}