.rotate {
	transform: rotate(0);
	bottom: -2px;
	left: 10px;
}

.fadeInPause {
	animation: fadeInPause 1.5s;
}

.fadeIn {
	animation: fadeIn 1s;
}

.fadeIn1 {
	animation: fadeIn .25s ;
}

.show {
	opacity: 1;
}