@import "variables";
@import "base";
@import "interface";
@import "keyFrames";
@import "transitions";
@import "mediaQueries";
@import "classStyles";

////////////////
// Stylesheet //
////////////////

.App {
	.stars {
		position: fixed;
		top: 0;
		right: 0;
		background-image: url("images/stars.jpg");
		width: 100vw;
		height: 100vh;
		z-index: -1;
		opacity: 0;
		animation: starfield 500s linear both;
	}
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	header {
		background-image: url("images/header-bkg.jpeg");
		background-position: bottom left;
		animation: starfield 300s linear both;
		animation-fill-mode: forwards;
		position: fixed;
		top: -170px;
		height: 120px;
		width: 100%;
		margin: 0 auto;
		padding-left: 6rem;
		border-bottom: 1px solid $color-main;
		z-index: 0;
		.header-div {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			max-width: 1200px;
			height: 100%;
			margin-left: 20px;
			h1 {
				font-weight: 200;
				line-height: 3rem;
				font-size: 5rem;
				text-shadow: 4px 2px 4px rgb(0, 0, 0);
			}
			.space {
				text-shadow: 2px 2.5px 40px rgb(255, 255, 255), -2px 1px 0px rgb(255, 255, 255);
				color: $color-accent;
				font-weight: 700;
				letter-spacing: 0.2vw;
			}
			p {
				font-size: 2rem;
				font-weight: 400;
				color: $color-main;
				text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.527);
			}
			.nerds {
				font-family: $font-headings;
				font-weight: 700;
				color: $color-main;
			}
		}
		img {
			position: relative;
			bottom: 80px;
			left: 300px;
			z-index: -1;
			width: 160px;
			filter: drop-shadow(4px 10px 9px rgba(0, 0, 0, 0.445));
		}
		a {
			text-decoration: none;
		}
		a:hover {
			color: $offwhite;
		}
	}

	main {
		margin: 0 auto;
		margin-top: 140px;
		min-height: calc(99vh - 240px);
		max-width: 1200px;
		width: 80%;
		font-size: $fontsize-body;
		.NavSlider {
			position: fixed;
			top: 145px;
			right: -100%;
			z-index: 1000;
		}
		.NavSlider-container {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border: 1px solid white;
			border-right: none;
			transition: right 0.4s ease-in;
			background-color: $color-background-default;
			background-image: url("images/navbar-back.png");
			ul {
				list-style: none;
				font-size: 1.5rem;
				margin-left: 1rem;
				margin-right: 1rem;
				text-shadow: 1.5px 1.5px 1px black;
				a,
				a:visited {
					color: $color-main;
					text-decoration: none;
					// text-decoration-line: none;
					font-weight: 600;
					transition: all 0.2s;
					li {
						display: inline;
						padding: 0 1.5rem;
						text-decoration: none;
					}
				}
				a:hover {
					text-decoration-line: overline;
				}
			}
		}
		.nav-icon {
			font-size: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color-main;
			position: relative;
			bottom: 1px;
			left: 12px;
			height: 35px;
			// transform: rotate(180deg);
			cursor: pointer;
			// transition: transform 1s .25s;
		}
	}
	footer {
		display: flex;
		position: relative;
		justify-content: center;
		padding: 4rem;
		p {
			text-align: center;
			text-shadow: 0px 2px 2px $color-background-default;
			color: white;
			background-color: rgba(0, 0, 0, 0.482);
			padding: 0.25rem 1rem;
			border-radius: 50px;
			z-index: 1;
			.copyright {
				position: relative;
				top: 2px;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.App {
		main {
			width: 90%;
			margin-top: 3rem;
		}
		.NavSlider {
			.NavSlider-container {
				position: fixed;
				z-index: 1000;
				right: 0;
				border: unset;
				border-bottom: 1px solid $offwhite;
				border-top: 1px solid $offwhite;
				width: 100%;
				height: 3rem;
				top: 89px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				.nav-icon {
					display: none;
				}
				ul {
					font-size: 2.5vw;
					a:hover {
						font-size: unset;
						text-decoration: underline;
					}
					li {
						padding: 2rem 0;
						margin: 0 1vw;
						a:hover {
							text-decoration: underline;
						}
					}
				}
			}
			.slide-in {
				right: 0;
			}
		}
		header {
			height: 90px;
			padding-left: 2vw;
			img {
				width: 120px;
				left: 260px;
				bottom: 66px;
				// right: 10vw;
			}
			.header-div {
				position: relative;
				top: 5px;
				h1 {
					font-size: 4rem;
				}
				p {
					font-size: 1.5rem;
					margin-top: -1rem;
				}
			}
		}
		footer {
			position: relative;
			bottom: -100px;
			p {
				font-size: 1rem;
				.copyright {
					top: 1px;
				}
			}
		}
	}
}
.Home {
	opacity: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	font-size: inherit;
	.quote {
		margin-top: 0;
		padding-left: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		img {
			clip-path: circle(62px at 50% 32%);
			width: 125px;
			margin: 1rem;
			position: relative;
			top: 40px;
			z-index: -1;
		}
		div {
			margin: auto;
		}
		.quote-icon {
			color: $color-accent;
			margin: 0 1rem;
		}
		h2 {
		}
	}
	.apod-div {
		max-width: 650px;
		margin: 0 auto;
		h1 {
			margin-bottom: 0;
		}
		a {
			color: ghostwhite;
		}
		a:visited {
			color: ghostwhite;
		}
		a:hover {
			color: blue;
		}
		.apod-img-div {
			width: 100%;
			height: 400px;
			img {
				width: 100%;
				height: 400px;
				object-fit: cover;
				border: 1px solid ghostwhite;
			}
		}
	}
}
.SpaceX {
	opacity: 0;
	margin-right: 140px;
	display: flex;
	flex-direction: column;
	.youtube {
		iframe {
			width: 62vw;
			height: calc(62vw / 1.777777777778);
		}
	}
	.info-field {
		font-weight: bold;
		color: $color-accent;
	}
	.CompanyInfo {
		margin-bottom: 110px;
		margin-top: 2rem;
		a,
		a:visited {
			color: $color-accent;
			text-decoration: none;
		}
		a:hover {
			color: $color-main;
		}
		p {
			padding: 0;
			padding-right: 6rem;
		}
	}
	.UpcomingLaunches {
		margin-bottom: 90px;
		p {
			padding: 0;
		}
		h2 {
			padding: 0;
		}
		.launches-div {
			padding: 2rem 3rem;
			a,
			a:visited {
				color: $color-main;
				text-decoration: none;
			}
			a:hover {
				color: $color-accent;
			}
			.patch {
				width: 100px;
				float: left;
			}
		}
	}
	.falcon-div {
		position: fixed;
		bottom: 400px;
		left: 0;
		right: 0;
		height: 100vw;
		background-position: bottom right;
		background-size: cover;
		pointer-events: none;
		filter: drop-shadow(0 0 10px black);
		animation: liftOff 4s ease-out;
		z-index: 1;
		.falcon {
			width: 100%;
		}
	}
}
@media screen and (max-width: 600px) {
	.SpaceX {
		margin-right: 80px;
		.youtube {
			iframe {
				width: 70vw;
				height: calc(70vw / 1.777777777778);
			}
		}
		.falcon-div {
			bottom: 170px;
		}
	}
}
.DarkSkies {
	display: flex;
	flex-direction: column;

	opacity: 0;
	margin-bottom: -50px;
	h3 {
		padding-right: 40px;
		margin-top: -2rem;
	}
	p {
		margin-top: 2rem;
		font-size: 1.5rem;
	}
	img {
		margin-top: 3rem;
	}
	.render-div {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		width: 75%;
		margin: 0 auto;
	}
	.SkyStats {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 0 auto;
		div {
			margin-top: 1rem;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0 1rem;
			div {
				width: 75%;
				display: flex;
				flex-direction: column;
				h3,
				h4 {
					margin: 0;
					padding: 0;
					text-align: center;
				}
				h3 {
					font-size: 2.2vw;
				}
				h4 {
					font-size: 1.5vw;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.DarkSkies {
		.render-div {
			width: 100%;
			padding: 0;
		}
		.SkyStats {
			width: 100%;
			align-content: flex-start;
			div {
				flex-direction: column;
				margin: 0;
				div {
					width: 100%;
					display: flex;
					flex-direction: column;
					h3,
					h4 {
						margin: 0;
						padding: 0;
						text-align: center;
					}
					h3 {
						font-size: 4vw;
						margin-top: 2rem;
					}
					h4 {
						font-size: 3vw;
					}
				}
			}
			img {
				margin-top: 2rem;
			}
		}
	}
}
.ApodGallery {
	opacity: 0;
	.apod-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: flex-start;
		padding-top: 2rem;
	}
	.tile-div {
		text-align: center;
		margin: 1rem;
		width: 300px;
		border: 1px solid white;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color-background-default;
		h4 {
			padding: 1rem;
			padding-bottom: 2rem;
			bottom: 6px;
		}
	}
	.tile-link {
		margin: 1rem;
		height: 200px;
		cursor: pointer;
		object-fit: cover;
	}
	.tile-img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	.ApodModal {
		width: 80vw;
		max-height: 95vh;
		position: fixed;
		border: 2px solid $color-main;
		background-color: $color-background-default;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		h1 {
			margin: 0;
			padding: 0;
		}
		img {
			margin: 0 auto;
			width: 90%;
		}
		p {
			font-size: 1.4rem;
			padding: 3rem;
		}
		h3 {
			padding-left: 3rem;
			padding-bottom: 3rem;
		}
		#download {
			color: $color-main;
			text-decoration: none;
		}
		#download:hover {
			color: $color-accent;
		}
	}
	.modal-title-div {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.close {
		color: $color-main;
		cursor: pointer;
		width: 8rem;
		height: 8rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.close:hover {
		color: $color-accent;
	}
	.close-icon {
		font-size: 4rem;
	}
}
@media screen and (max-width: 600px) {
	.ApodGallery {
		h1 {
			font-size: 6vw;
		}
		.ApodModal {
			max-height: 55vh;
			margin: 15% auto;
			width: 95%;
			img {
				width: 90%;
			}
		}
		.close {
			width: 4rem;
			height: 4rem;
			margin: 1rem;
		}
		.close-icon {
			font-size: 3rem;
		}
	}
}
.ApodVideoGallery {
	opacity: 0;
	h1 {
		// font-size: 4vw;
	}
	p {
		margin-bottom: 2rem;
	}
	.apod-video-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.tile-video-div {
		display: flex;
		flex-direction: column;
		margin-bottom: 4rem;
		border: 1px solid white;
		background-color: black;
		text-align: center;
		iframe {
			width: 65vw;
			height: calc(65vw / 1.777777777778);
		}
		h3 {
			padding-bottom: 1rem;
			margin: 1rem;
		}
	}
}
@media screen and (max-width: 600px) {
	.ApodVideoGallery {
		h1 {
			margin-bottom: 0;
		}
		.apod-video-flex {
		}
		.tile-video-div {
			border: none;
			iframe {
				width: 100vw;
				height: calc(100vw / 1.777777777778);
			}
			h3 {
				font-size: 1.8rem;
			}
		}
	}
}
.FilmAndTv {
	opacity: 0;
	display: flex;
	flex-direction: column;
	h1 {
		align-self: flex-start;
	}
	p {
		align-self: flex-start;
	}
	.films-div {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		// justify-items: center;
		justify-content: center;
		width: 95%;
		gap: 0;
		margin: 0 auto;
	}
	.FilmTile {
		margin-bottom: 4rem;
		img {
			width: 15vw;
			margin: 2rem 7rem;
		}
		h1 {
			font-size: 1.8rem;
			margin: 0 auto;
			padding: 0;
			text-align: center;
		}
	}
	@media screen and (max-width: 1320px) {
		.films-div {
			grid-template-columns: repeat(3, 1fr);
			img {
				width: 20vw;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		.films-div {
			grid-template-columns: repeat(2, 1fr);
			img {
				width: 25vw;
			}
		}
	}
	@media screen and (max-width: 600px) {
		.films-div {
			grid-template-columns: repeat(1, 1fr);
		}
		.FilmTile {
			margin-bottom: 4rem;
			// width: 80%;
			img {
				width: 70vw;
				margin-top: 2rem;
			}
			h1 {
				font-size: 1.8rem;
				margin: 0;
				padding: 0;
				text-align: center;
			}
		}
	}
	#tv-home {
		align-self: center;
	}
}
