.FilmTile {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2rem;
}

.FilmTile img {
	height: 200px;
	margin: 2rem 7rem;
}
.FilmTile h1{
	font-size: 1.8rem;
}
