.Home {
	margin: 0 auto;
	margin-top: 170px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}

.quote {
	padding: 25px 100px;
}
.quote-icon {
	margin: 0 1rem;
}
.apod-div {
	/* width: 100%; */
	max-width: 650px;
	margin: 0 auto;
}

.apod-link:visited {
	color: ghostwhite;
}

.apod-link {
	color: ghostwhite;
}

.apod-link:hover {
	color: blue;
}
.apod-img-div {
	width: 100%;
	height: 400px;
}

.apod-img-div img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	border: 1px solid ghostwhite;
}

@media screen and (max-width: 600px) {
	.Home {
		margin: 1rem;
		margin-top: 110px;
		padding: 0;
	}

	.quote {
		padding: 20px;
	}
	.quote h2 {
		font-size: 2rem;
	}
	.apod-div h1 {
		font-size: 6vw;
	}

.apod-img-div {
	max-height: 200px;
}
.apod-img-div img {
		max-height: 200px;
}
}