.get-content  {
	margin-top: 200px;
}

.get-content-p {
	padding-right: 6rem;
	margin-bottom: 2rem;
}

select {
	outline: none;
	border: 1px solid ghostwhite;
	padding: .6rem;
	margin-bottom: 2rem;
	color: ghostwhite;
	background-color: transparent;
}

.CompanyInfo {
	padding-bottom: 40px;
}
.CompanyInfo a, .CompanyInfo a:visited { 
	color: blue;
	text-decoration: none;
}

.CompanyInfo a:hover { 
	color: ghostwhite;
}

.CompanyInfo p { 
	padding-right: 5rem;
}

.CompanyInfo h2 { 
	padding-top: 3rem;
}

.info-field {
	font-weight: bold;
	color: blue;
}


.launches-div {
	/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	justify-items: start; */
	height: 100%;
	padding: 2rem 3rem;
}

.launch-div a, .launch-div a:visited {
	color: ghostwhite;
	text-decoration: none;
}
.launch-div a:hover {
	color: blue;
}
.patch {
	width: 100px;
	float: left;
}
.default-patch {
	width: 100px;
	float: left;
}
.youtube {
	width: 62.2vw;
	height: 35vw;
}

@keyframes liftOff {
	0% {transform: translate(0,900px)}
	1% {transform: translate(-5px, 890px)}
	2% {transform: translate(5px, 880px)}
	3% {transform: translate(-5px, 870px)}
	4% {transform: translate(5px, 860px)}
	5% {transform: translate(-5px, 850px)}
	6% {transform: translate(-5px, 840px)}
	7% {transform: translate(5px, 830px)}
	8% {transform: translate(0, 820px)}
	9% {transform: translate(5px, 810px)}
	10% {transform: translate(0,800px)}
	11% {transform: translate(-4px, 790px)}
	12% {transform: translate(4px, 780px)}
	13% {transform: translate(-4px, 770px)}
	14% {transform: translate(3px, 760px)}
	15% {transform: translate(-3px, 750px)}
	16% {transform: translate(-2px, 740px)}
	17% {transform: translate(2px, 730px)}
	18% {transform: translate(-1px, 720px)}
	19% {transform: translate(1px, 710px)}
	20% {transform: translate(0,700px)}
	21% {transform: translate(-1px, 690px)}
	22% {transform: translate(0, 680px)}
	23% {transform: translate(1px, 670px)}
	24% {transform: translate(-.5px, 660px)}
	25% {transform: translate(.4px, 650px)}
	26% {transform: translate(-.2px, 640px)}
	27% {transform: translate(.1px, 630px)}
	28% {transform: translate(-.1px, 620px)}
	29% {transform: translate(-.05px, 610px)}
	100% {transform: translate(0, 0)}
}

.falcon {
	position: fixed;
	width: 100vw;
	margin-left: -100px;
	left: 80px;
	bottom: -270px;
	z-index: 1;
	pointer-events: none;
	filter: drop-shadow(0 0 10px black);
	animation: liftOff 4s ease-out;
}

