



@keyframes fadeInDelay {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

nav {
	width: 200px;
	position:fixed;
	right: 0;
	top: 160px;
	font-size: 2rem;
	z-index: 10;
	animation: fadeInDelay 2s;
	z-index: 1000;
}

nav a {
		color: ghostwhite;
		text-decoration: none;
}

.nav-item-toggle-div {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: flex-end;
}

#tv-home {
	align-self: center;
}

.nav-toggle {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: rgb(192, 192, 192); */
	background-image: url('../../images/nav-back.jpg');
	background-position: left;
	/* border-radius: 10px 0 0 10px; */
	border: 1px solid ghostwhite;
	border-right: none;
	cursor: pointer;
	animation: moveInNav 1s;
	box-shadow: 2px 3px 13px 0px black;

}

.nav-toggle-icon {
	background-color: none;
	color: ghostwhite;
	transition: 500ms;
	transform: rotate(-90deg);
}


.nav-toggle-icon.rotate {
	transform: rotate(-180deg);
	transition: 500ms;
}

.nav-items {
	position: absolute;
	width: 160px;
	right: -100%;
	transition: 500ms;
	background-image: url('../../images/nav-back.jpg');
	background-size:cover;
	border: 1px solid rgb(255, 255, 255);
	border-right: none;
	z-index: 1000;
	box-shadow: 2px 3px 13px 0px black;
}

.nav-items.show {
	right: 0;
	transition: 500ms;
	z-index: 1000;
}

.nav-item {
	background-color: transparent;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	border:none;
	color: ghostwhite;
	text-indent: 4rem;
	border-bottom: 2 solid blue;
	border-collapse: collapse;
}

.nav-item:hover {
	/* color: blue; */
	text-decoration: underline ghostwhite;
}

@media screen and (max-width: 1000px) {

}