.DarkSkies {
	margin-top: 200px;
}

.DarkSkies h3{
	padding-right: 40px;
	margin-top: -2rem;
}

.DarkSkies button {
	margin-top: 2rem;
}

.DarkSkies p {
	margin-top: 2rem;
	font-size: 1.5rem;
}

.DarkSkies img {
	margin-top: 3rem;

}
.render-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}
