
@keyframes fadeInPause {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn2 {
	0% {opacity: 0;}
	100% {opacity: .1;}
}

.fadeInPause {
	animation: fadeInPause 1.5s;
}

.fadeIn {
	animation: fadeIn 1s ;
}

.App {
	width: 100%;
	margin: 0 auto;
}

footer {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-p {
	text-align: center;
	position: relative;
	top: 30px;
	text-shadow: 0px 2px 2px black;
	color: white;
	background-color: rgba(0, 0, 0, 0.482);
	padding: .25rem 1rem;
	margin-bottom: 25px;
	border-radius: 50px;
	z-index: 1;
}

.copyright {
	position: relative;
	top: 2px;
}

.main-loading {
	width: 70px;
}

@media screen and (max-width: 600px) {
	.footer-p {
		font-size: 1rem;
	}
}