@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Poppins:wght@200&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #000000;
  z-index: 0;
}

body {
  background-color: transparent;
  font-size: 1.4rem;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f5f5ff;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  body {
    margin: 105px auto 100px;
  }
}
h1 {
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 2.25rem;
  line-height: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.8rem;
}

h4 {
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 1rem 0;
  text-align: left;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.button {
  background-color: transparent;
  display: inline-block;
  outline: none;
  border: none;
  transition: transform 0.1s linear, background-color 0.1s;
  cursor: pointer;
  color: #f5f5ff;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: 1px solid white;
}

.button:hover {
  color: #f5f5ff;
  background-color: #002fe9;
  transform: scale(1.05);
  transition: transform 0.5s;
}

.button:active {
  transform: scale(0.95);
}

a, a:visited {
  color: #f5f5ff;
}

a:hover {
  color: #002fe9;
}

.link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #f5f5ff;
}

.link:visited {
  color: #f5f5ff;
}

select {
  outline: none;
  border: 1px solid ghostwhite;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: ghostwhite;
  background-color: transparent;
}

@keyframes starfield {
  0% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes liftOff {
  0% {
    transform: translate(0, 900px);
  }
  1% {
    transform: translate(-5px, 890px);
  }
  2% {
    transform: translate(5px, 880px);
  }
  3% {
    transform: translate(-5px, 870px);
  }
  4% {
    transform: translate(5px, 860px);
  }
  5% {
    transform: translate(-5px, 850px);
  }
  6% {
    transform: translate(-5px, 840px);
  }
  7% {
    transform: translate(5px, 830px);
  }
  8% {
    transform: translate(0, 820px);
  }
  9% {
    transform: translate(5px, 810px);
  }
  10% {
    transform: translate(0, 800px);
  }
  11% {
    transform: translate(-4px, 790px);
  }
  12% {
    transform: translate(4px, 780px);
  }
  13% {
    transform: translate(-4px, 770px);
  }
  14% {
    transform: translate(3px, 760px);
  }
  15% {
    transform: translate(-3px, 750px);
  }
  16% {
    transform: translate(-2px, 740px);
  }
  17% {
    transform: translate(2px, 730px);
  }
  18% {
    transform: translate(-1px, 720px);
  }
  19% {
    transform: translate(1px, 710px);
  }
  20% {
    transform: translate(0, 700px);
  }
  21% {
    transform: translate(-1px, 690px);
  }
  22% {
    transform: translate(0, 680px);
  }
  23% {
    transform: translate(1px, 670px);
  }
  24% {
    transform: translate(-0.5px, 660px);
  }
  25% {
    transform: translate(0.4px, 650px);
  }
  26% {
    transform: translate(-0.2px, 640px);
  }
  27% {
    transform: translate(0.1px, 630px);
  }
  28% {
    transform: translate(-0.1px, 620px);
  }
  29% {
    transform: translate(-0.05px, 610px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.light {
  font-weight: lighter;
}

.heavy {
  font-weight: bold;
  font-size: 1.6rem;
}

.loading {
  width: 35px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-loading {
  width: 70px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}
.App .stars {
  position: fixed;
  top: 0;
  right: 0;
  background-image: url("images/stars.jpg");
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  animation: starfield 500s linear both;
}
.App header {
  background-image: url("images/header-bkg.jpeg");
  background-position: bottom left;
  animation: starfield 300s linear both;
  animation-fill-mode: forwards;
  position: fixed;
  top: -170px;
  height: 120px;
  width: 100%;
  margin: 0 auto;
  padding-left: 6rem;
  border-bottom: 1px solid #f5f5ff;
  z-index: 0;
}
.App header .header-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin-left: 20px;
}
.App header .header-div h1 {
  font-weight: 200;
  line-height: 3rem;
  font-size: 5rem;
  text-shadow: 4px 2px 4px black;
}
.App header .header-div .space {
  text-shadow: 2px 2.5px 40px white, -2px 1px 0px white;
  color: #002fe9;
  font-weight: 700;
  letter-spacing: 0.2vw;
}
.App header .header-div p {
  font-size: 2rem;
  font-weight: 400;
  color: #f5f5ff;
  text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.527);
}
.App header .header-div .nerds {
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 700;
  color: #f5f5ff;
}
.App header img {
  position: relative;
  bottom: 80px;
  left: 300px;
  z-index: -1;
  width: 160px;
  filter: drop-shadow(4px 10px 9px rgba(0, 0, 0, 0.445));
}
.App header a {
  text-decoration: none;
}
.App header a:hover {
  color: #f5f5ff;
}
.App main {
  margin: 0 auto;
  margin-top: 140px;
  min-height: calc(99vh - 240px);
  max-width: 1200px;
  width: 80%;
  font-size: 1.4rem;
}
.App main .NavSlider {
  position: fixed;
  top: 145px;
  right: -610px;
  z-index: 1000;
}
.App main .NavSlider-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  border-right: none;
  transition: right 0.4s ease-in;
  background-color: #000000;
  background-image: url("images/navbar-back.png");
}
.App main .NavSlider-container ul {
  list-style: none;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-shadow: 1.5px 1.5px 1px black;
}
.App main .NavSlider-container ul a, .App main .NavSlider-container ul a:visited {
  color: #f5f5ff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s;
}
.App main .NavSlider-container ul a li, .App main .NavSlider-container ul a:visited li {
  display: inline;
  padding: 0 1.5rem;
  text-decoration: none;
}
.App main .NavSlider-container ul a:hover {
  text-decoration-line: overline;
}
.App main .nav-icon {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5ff;
  position: relative;
  bottom: 1px;
  left: 12px;
  height: 35px;
  cursor: pointer;
}
.App footer {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 4rem;
}
.App footer p {
  text-align: center;
  text-shadow: 0px 2px 2px #000000;
  color: white;
  background-color: rgba(0, 0, 0, 0.482);
  padding: 0.25rem 1rem;
  border-radius: 50px;
  z-index: 1;
}
.App footer p .copyright {
  position: relative;
  top: 2px;
}

@media screen and (max-width: 600px) {
  .App main {
    width: 90%;
    margin-top: 3rem;
  }
  .App .NavSlider .NavSlider-container {
    position: fixed;
    z-index: 1000;
    right: 0;
    border: unset;
    border-bottom: 1px solid #f5f5ff;
    border-top: 1px solid #f5f5ff;
    width: 100%;
    height: 3rem;
    top: 89px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .App .NavSlider .NavSlider-container .nav-icon {
    display: none;
  }
  .App .NavSlider .NavSlider-container ul {
    font-size: 2.5vw;
  }
  .App .NavSlider .NavSlider-container ul a:hover {
    font-size: unset;
    text-decoration: underline;
  }
  .App .NavSlider .NavSlider-container ul li {
    padding: 2rem 0;
    margin: 0 1vw;
  }
  .App .NavSlider .NavSlider-container ul li a:hover {
    text-decoration: underline;
  }
  .App .NavSlider .slide-in {
    right: 0;
  }
  .App header {
    height: 90px;
    padding-left: 2vw;
  }
  .App header img {
    width: 120px;
    left: 260px;
    bottom: 66px;
  }
  .App header .header-div {
    position: relative;
    top: 5px;
  }
  .App header .header-div h1 {
    font-size: 4rem;
  }
  .App header .header-div p {
    font-size: 1.5rem;
    margin-top: -1rem;
  }
  .App footer {
    position: relative;
    bottom: -100px;
  }
  .App footer p {
    font-size: 1rem;
  }
  .App footer p .copyright {
    top: 1px;
  }
}
.Home {
  opacity: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-size: inherit;
}
.Home .quote {
  margin-top: 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Home .quote img {
  clip-path: circle(62px at 50% 32%);
  width: 125px;
  margin: 1rem;
  position: relative;
  top: 40px;
  z-index: -1;
}
.Home .quote div {
  margin: auto;
}
.Home .quote .quote-icon {
  color: #002fe9;
  margin: 0 1rem;
}
.Home .apod-div {
  max-width: 650px;
  margin: 0 auto;
}
.Home .apod-div h1 {
  margin-bottom: 0;
}
.Home .apod-div a {
  color: ghostwhite;
}
.Home .apod-div a:visited {
  color: ghostwhite;
}
.Home .apod-div a:hover {
  color: blue;
}
.Home .apod-div .apod-img-div {
  width: 100%;
  height: 400px;
}
.Home .apod-div .apod-img-div img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: 1px solid ghostwhite;
}

.SpaceX {
  opacity: 0;
  margin-right: 140px;
  display: flex;
  flex-direction: column;
}
.SpaceX .youtube iframe {
  width: 62vw;
  height: calc(62vw/1.777777777778);
}
.SpaceX .info-field {
  font-weight: bold;
  color: #002fe9;
}
.SpaceX .CompanyInfo {
  margin-bottom: 110px;
  margin-top: 2rem;
}
.SpaceX .CompanyInfo a, .SpaceX .CompanyInfo a:visited {
  color: #002fe9;
  text-decoration: none;
}
.SpaceX .CompanyInfo a:hover {
  color: #f5f5ff;
}
.SpaceX .CompanyInfo p {
  padding: 0;
  padding-right: 6rem;
}
.SpaceX .UpcomingLaunches {
  margin-bottom: 90px;
}
.SpaceX .UpcomingLaunches p {
  padding: 0;
}
.SpaceX .UpcomingLaunches h2 {
  padding: 0;
}
.SpaceX .UpcomingLaunches .launches-div {
  padding: 2rem 3rem;
}
.SpaceX .UpcomingLaunches .launches-div a, .SpaceX .UpcomingLaunches .launches-div a:visited {
  color: #f5f5ff;
  text-decoration: none;
}
.SpaceX .UpcomingLaunches .launches-div a:hover {
  color: #002fe9;
}
.SpaceX .UpcomingLaunches .launches-div .patch {
  width: 100px;
  float: left;
}
.SpaceX .falcon-div {
  position: fixed;
  bottom: 400px;
  left: 0;
  right: 0;
  height: 100vw;
  background-position: bottom right;
  background-size: cover;
  pointer-events: none;
  filter: drop-shadow(0 0 10px black);
  animation: liftOff 4s ease-out;
  z-index: 1;
}
.SpaceX .falcon-div .falcon {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .SpaceX {
    margin-right: 80px;
  }
  .SpaceX .youtube iframe {
    width: 70vw;
    height: calc(70vw/1.777777777778);
  }
  .SpaceX .falcon-div {
    bottom: 170px;
  }
}
.DarkSkies {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin-bottom: -50px;
}
.DarkSkies h3 {
  padding-right: 40px;
  margin-top: -2rem;
}
.DarkSkies p {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.DarkSkies img {
  margin-top: 3rem;
}
.DarkSkies .render-div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 75%;
  margin: 0 auto;
}
.DarkSkies .SkyStats {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.DarkSkies .SkyStats div {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.DarkSkies .SkyStats div div {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.DarkSkies .SkyStats div div h3, .DarkSkies .SkyStats div div h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.DarkSkies .SkyStats div div h3 {
  font-size: 2.2vw;
}
.DarkSkies .SkyStats div div h4 {
  font-size: 1.5vw;
}

@media screen and (max-width: 600px) {
  .DarkSkies .render-div {
    width: 100%;
    padding: 0;
  }
  .DarkSkies .SkyStats {
    width: 100%;
    align-content: flex-start;
  }
  .DarkSkies .SkyStats div {
    flex-direction: column;
    margin: 0;
  }
  .DarkSkies .SkyStats div div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .DarkSkies .SkyStats div div h3, .DarkSkies .SkyStats div div h4 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .DarkSkies .SkyStats div div h3 {
    font-size: 4vw;
    margin-top: 2rem;
  }
  .DarkSkies .SkyStats div div h4 {
    font-size: 3vw;
  }
  .DarkSkies .SkyStats img {
    margin-top: 2rem;
  }
}
.ApodGallery {
  opacity: 0;
}
.ApodGallery .apod-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding-top: 2rem;
}
.ApodGallery .tile-div {
  text-align: center;
  margin: 1rem;
  width: 300px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}
.ApodGallery .tile-div h4 {
  padding: 1rem;
  padding-bottom: 2rem;
  bottom: 6px;
}
.ApodGallery .tile-link {
  margin: 1rem;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
}
.ApodGallery .tile-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.ApodGallery .ApodModal {
  width: 80vw;
  max-height: 95vh;
  position: fixed;
  border: 2px solid #f5f5ff;
  background-color: #000000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.ApodGallery .ApodModal h1 {
  margin: 0;
  padding: 0;
}
.ApodGallery .ApodModal img {
  margin: 0 auto;
  width: 90%;
}
.ApodGallery .ApodModal p {
  font-size: 1.4rem;
  padding: 3rem;
}
.ApodGallery .ApodModal h3 {
  padding-left: 3rem;
  padding-bottom: 3rem;
}
.ApodGallery .ApodModal #download {
  color: #f5f5ff;
  text-decoration: none;
}
.ApodGallery .ApodModal #download:hover {
  color: #002fe9;
}
.ApodGallery .modal-title-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ApodGallery .close {
  color: #f5f5ff;
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ApodGallery .close:hover {
  color: #002fe9;
}
.ApodGallery .close-icon {
  font-size: 4rem;
}

@media screen and (max-width: 600px) {
  .ApodGallery h1 {
    font-size: 6vw;
  }
  .ApodGallery .ApodModal {
    max-height: 55vh;
    margin: 15% auto;
    width: 95%;
  }
  .ApodGallery .ApodModal img {
    width: 90%;
  }
  .ApodGallery .close {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
  }
  .ApodGallery .close-icon {
    font-size: 3rem;
  }
}
.ApodVideoGallery {
  opacity: 0;
}
.ApodVideoGallery p {
  margin-bottom: 2rem;
}
.ApodVideoGallery .apod-video-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ApodVideoGallery .tile-video-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  border: 1px solid white;
  background-color: black;
  text-align: center;
}
.ApodVideoGallery .tile-video-div iframe {
  width: 65vw;
  height: calc(65vw / 1.777777777778);
}
.ApodVideoGallery .tile-video-div h3 {
  padding-bottom: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .ApodVideoGallery h1 {
    margin-bottom: 0;
  }
  .ApodVideoGallery .tile-video-div {
    border: none;
  }
  .ApodVideoGallery .tile-video-div iframe {
    width: 100vw;
    height: calc(100vw / 1.777777777778);
  }
  .ApodVideoGallery .tile-video-div h3 {
    font-size: 1.8rem;
  }
}
.FilmAndTv {
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.FilmAndTv h1 {
  align-self: flex-start;
}
.FilmAndTv p {
  align-self: flex-start;
}
.FilmAndTv .films-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 95%;
  gap: 0;
  margin: 0 auto;
}
.FilmAndTv .FilmTile {
  margin-bottom: 4rem;
}
.FilmAndTv .FilmTile img {
  width: 15vw;
  margin: 2rem 7rem;
}
.FilmAndTv .FilmTile h1 {
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 1320px) {
  .FilmAndTv .films-div {
    grid-template-columns: repeat(3, 1fr);
  }
  .FilmAndTv .films-div img {
    width: 20vw;
  }
}
@media screen and (max-width: 1000px) {
  .FilmAndTv .films-div {
    grid-template-columns: repeat(2, 1fr);
  }
  .FilmAndTv .films-div img {
    width: 25vw;
  }
}
@media screen and (max-width: 600px) {
  .FilmAndTv .films-div {
    grid-template-columns: repeat(1, 1fr);
  }
  .FilmAndTv .FilmTile {
    margin-bottom: 4rem;
  }
  .FilmAndTv .FilmTile img {
    width: 70vw;
    margin-top: 2rem;
  }
  .FilmAndTv .FilmTile h1 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
.FilmAndTv #tv-home {
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
