.ApodModal {
	width: 80vw;
	max-height: 95vh;
	/* height: 70vh; */
	position: fixed;
	border: 2px solid ghostwhite;
	background-color: black;
		overflow-y:auto;

}

.ApodModal h1 {
	padding: 3rem;
}

.ApodModal img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.ApodModal p {
	font-size: 1.4rem;
	padding: 3rem;
}

.ApodModal h3 {
	padding-left: 3rem;
	padding-bottom: 3rem;
}

#download {
	color:ghostwhite;
	text-decoration: none;
}

#download:hover {
	color: blue;
}

.modal-title-div {
	/* background-color: blue; */
	font-size: 4rem;
	border-radius: 10%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* position: absolute; */
	/* right: 20px;
	top: 20px; */
}

.close {
	color: ghostwhite;
	cursor: pointer;
	margin-left: 40px;
}

.close:hover {
	color: blue;
}

@media screen and (max-width: 600px) {

	.ApodModal {
		max-height: 70vh;
		width: 99vw;
		border: 1px solid ghostwhite;

	}
	
	.ApodModal img {
		max-height: 20vh;
	}
	.ApodModal p {
		margin: 2rem;
	}
	.modal-title-div h1 {
		font-size: 5vw;
		margin-left: 0;
		padding: 2rem 1.5rem;
	}
	.close {
	font-size: 3rem;
	margin-left: 20px;
	}
}